<form action="/users" method="post">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" required> <br>

    <label for="email">Email:</label>
    <input type="email" name="user[email]" required> <br>

    <label for="password">Password:</label>
    <input type="password" name="user[password]" required> <br>

    <input type="submit" value="Submit">
</form>